.NavbarCont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(75, 16, 130);
  height: 70px;
  padding: 10px;
}

.RadioCont{
  background: white;
  border-radius: 35px;
  padding: 7px;
}